# Složka virtuálního prostředí
venv/
.venv/

# Python cache
__pycache__/
*.pyc
run_socket.py

# Soubor lokální databáze
*.db
*.sqlite
*.sqlite3

# Konfigurace IDE
.idea/
.vscode/

# Lokální .env soubor (pro bezpečnost)
.env

# Spreadsheet files (např. dočasné importy)
*.csv
*.xls
*.xlsx
*.ods

# Dočasné soubory
~$*.*
*.tmp
